:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  aspect-ratio: 3/2;
  max-width: 30%;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}
